{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Artists</title>
    <link rel="stylesheet" type="text/css" href="{% static 'raptweets/style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <nav class="nav-justified navbar-right">
        <ul class="nav nav-pills ">
            <li><a href="{% url 'raptweets:index' %}">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="{% url 'raptweets:artists' %}">Artists</a></li>
        </ul>
    </nav>
    <h1>All Artists</h1>
    <div class="artists">
    {% for artist in artists %}
        <div id="artist">
            <h3>Name: <a href="{% url 'raptweets:artist_albums' artist.id %}">{{ artist.name }}</a></h3>
            <img src="{{ artist.image_url }}">
        </div>
    {% endfor %}
    </div>
</body>
</html>