{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Albums for {{ artist.name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'raptweets/style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <nav>
        <ul class="nav nav-pills">
            <li><a href="{% url 'raptweets:index' %}">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="{% url 'raptweets:artists' %}">Artists</a></li>
            <li><a href="{% url 'raptweets:albums' %}">Albums</a></li>
        </ul>
    </nav>
    <h1>Albums for {{ artist.name }}</h1>
    <div class="albums">
    {% for album in albums %}
        <div id="album">
            <h3>Title: <a href="{%  url 'raptweets:graph' album.id %}">{{ album.title }}</a></h3>
            <h4>Release Date: {{ album.release_date }}</h4>
            <img src="{{  album.image_url }}">
        </div>
    {% endfor %}
    </div>
</body>
</html>