{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Graph</title>
    <link rel="stylesheet" type="text/css" href="{% static 'raptweets/style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type="text/javascript" src="{% static 'raptweets/jquery-2.1.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'raptweets/d3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'raptweets/graph.js' %}"></script>
</head>
<body>
    <div class="bar">
        <div class="container">
            <ul class="nav nav-pills nav-justified">
                <li><a href="{% url 'raptweets:index' %}">Search</a></li>
                <li><a href="#">About</a></li>
                <li><a href="{% url 'raptweets:tweets' album.id %}">Tweets for this album</a></li>
            </ul>
        </div>
    </div>
    <h1>Graph for {{ album.title }} - {{ album.artist }}</h1>
    <div id="avg">
        {{ avg }}
    </div>
    <div class="graph"></div>
</body>
</html>