{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'raptweets/style.css' %}">
</head>
<body>
    <nav>
        <ul class="nav nav-pills">
            <li><a href="{% url 'raptweets:index' %}">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="{% url 'raptweets:artists' %}">Artists</a></li>
            <li><a href="{% url 'raptweets:albums' %}">Albums</a></li>
            <li><a href="{% url 'raptweets:artist_graph' %}">Artist Visualization</a></li>
        </ul>
    </nav>
    <h1>RapTweets</h1>
    <h2>Search for an album to see its graph</h2>
    <div class="jumbotron">
        <div class="container">
            <div class="form">
                <form action="{% url 'raptweets:search' %}" method="get">
                    <input type="text" name="q" id="searchbar" placeholder="search">
                    <input type="submit" value="Search" id="button"><br>
                </form>
            </div>
        </div>
    </div>
</body>
</html>