{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Tweets</title>
    <link rel="stylesheet" type="text/css" href="{% static 'raptweets/style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <h1>Tweets for {{ album.artist }} - {{ album.title }} - {{ avg }}</h1>
    <div class="tweets">
    {% for tweet in tweets %}
        <div id="tweet">
            Tweet: {{  tweet.text }} <br>
            Date: {{ tweet.pub_date }} <br>
            Sentiment: {{ tweet.sentiment }}
        </div>
    {% endfor %}
    </div>
</body>
</html>